
<!-- flora banner section -->
<section id="flora-banner">
<div class="container banner-text">
<h1>Discover a place <br/>you will love to live</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>Imperdiet tempus felis vitae sit est quisque</p>    
<p><form>
<div class="input-group w-75 bg-white border border-0 p-3">
<span class="input-group-text border border-0" id="basic-addon1"><i class="bi bi-geo-alt border border-0"></i></span>
<input type="text" class="form-control border border-0" placeholder="Location" aria-label="Location" aria-describedby="basic-addon1">   

<span class="input-group-text" id="basic-addon1"><i class="bi bi-dollar"></i></span>
<input type="text" class="form-control border border-0" placeholder="Price" aria-label="Price" aria-describedby="basic-addon1">   

<span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt"></i></span>
<input type="text" class="form-control border border-0" placeholder="Type Property" aria-label="Location" aria-describedby="basic-addon1">

<button type="button" class="btn btn-md btn-primary text-white bg-primary rounded-5 fs-3"><i class="bi bi-search"></i></button>      
</div>
</form></p>

</div>  
</section>
