
<!-- flora header section -->
<section id="flora-header" class="fixed-top shadow-sm">
<!-- flora navigations -->
<div class="container p-3">
<nav class="nav navbar navbar-expand-md">
<!-- logo -->
<a href="index.html"><img src="images/logo.png" class="img-fluid"></a>
<!-- toggle button -->
<button type="button" class="btn btn-md btn-white text-dark navbar-toggler" data-bs-toggle="collapse" data-bs-target="#togg"><span class="bi bi-grid"></span></button>
<div class="collapse navbar-collapse" id="togg"> 
<ul class="navbar-links">
<li><a href="index.html">Home</a></li>
<li><a href="about.html">About</a></li>
<li><a href="service.html">Service</a></li>
<li><a href="property.html">Property</a></li>
<li><a href="contact.html">Contact</a></li>
<li><a href="#" class="active btn btn-lg w-100" data-bs-toggle="modal" data-bs-target="#account">Account <span class="bi bi-person-add"></span></a></li>
</ul>    
</div>  
</nav>    
</div> 
</section>
