<section id="be-icecream-navbar">
<nav class="nav navbar navbar-expand-md bg-white p-4 shadow">
<!-- logo -->
<a href="" class="navbar-brand"><img src="images/main-logo.png" class="img-fluid" /></a>
<!-- button toggler -->
<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#btn-clk">
<span class="bi bi-grid fs-2 text-danger"></span>
</button>
<div class="collapse navbar-collapse" id="btn-clk">
<ul class="navbar-link">
<li><a href="/">Home</a></li>
<li><a href="/about-us">About us</a></li>
<li><a href="/howmade">How it made ?</a></li>
<li><a href="/products">Products</a></li>
<li><a href="/contact-us">Contact us</a></li>
<li><a href="/buynow" class="btn btn-md btn-danger text-white rounded-5">Buy Now <span
class="bi bi-caret-right"></span> </a></li>
</ul>
</div>
</nav>
</section>