<!DOCTYPE html>
<html>
<head>
<!-- head load  -->
<%- include('partials/head') %>
</head>    
<body onload="mainFunction()">
<!-- navbar here -->
<%- include('partials/navbar') %>    
<!-- be icecream slider start here -->
<section id="be-icecream-page-banner">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="#">About us</a></li>
</ol>
</nav>
</section>
<!-- be icecream content start here -->
<section id="be-icecream-content">
<!-- naturals products -->
<div class="natural-products mt-5 p-5">
<h1 class="text-center">About Us <br> <span class="cafe-txt text-danger">Know more about us</span></h1>
</div>
</section>
<!-- footer here -->
<%- include('partials/footer') %> 