<!DOCTYPE html>
<html>
<head>
<!-- head load  -->
<%- include('partials/head') %>
</head>    
<body onload="mainFunction()">
<!-- navbar here -->
<%- include('partials/navbar') %>
<section id="be-icecream-page-banner">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="#">Products</a></li>
</ol>
</nav>
</section>
<!-- be icecream content start here -->
<section id="be-icecream-content">
<!-- naturals products -->
<div class="natural-products mt-5 p-5">
<h1 class="text-center">All Products <br> <span class="cafe-txt text-danger">50% of  Hurry Up!</span></h1>
</div>

<div class="natural-products mt-5 p-5">
<h1 class="text-center"  data-aos="fade-right" data-aos-duration="3000">100% NATURAL <br> <span class="cafe-txt text-danger">PRODUCTS</span></h1>
<div class="row">
<div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
<div class="card">
<div class="card-body">
<img src="images/banner-pink-cone.png" class="img-fluid">
<h1 class="text-center mt-3">ICE CREAM</h1>
<h1 class="text-center"><span class="bi bi-three-dots"></span></h1>
<p class="text-center w-75 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing
elit. Repudiandae dolore, nemo aut reprehenderit labore consequuntur repellendus
animi explicabo</p>
</div>
</div>
</div>

<div class="col-md-4 mt-2" data-aos="fade-up" data-aos-duration="3000">
<div class="card">
<div class="card-body">
<img src="images/card-seven-img.png" class="img-fluid">
<h1 class="text-center mt-3">ICE CREAM</h1>
<h1 class="text-center"><span class="bi bi-three-dots"></span></h1>
<p class="text-center w-75 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing
elit. Repudiandae dolore, nemo aut reprehenderit labore consequuntur repellendus
animi explicabo</p>
</div>
</div>
</div>


<div class="col-md-4 mt-2" data-aos="fade-up" data-aos-duration="3000">
<div class="card">
<div class="card-body">
<img src="images/card-six.png" class="img-fluid">
<h1 class="text-center mt-3">ICE CREAM</h1>
<h1 class="text-center"><span class="bi bi-three-dots"></span></h1>
<p class="text-center w-75 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing
elit. Repudiandae dolore, nemo aut reprehenderit labore consequuntur repellendus
animi explicabo</p>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- footer here -->
<%- include('partials/footer') %> 