<!--flora content -->
<section id="flora-content">  
<!-- how it work -->
<div class="container p-5 mt-5">
<h1 class="text-center">How it Works</h1>
<p class="text-center">sing it can make you sound like you have been <br/> studying english 
for a long time. Here’s the challenge</p>
<hr class="w-25 mx-auto">  
<div class="row">
<div class="col-md-4 rounded-3 p-3">
<h1><i class="bi bi-house"></i></h1>
<h3>Search Apartment</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae.</p>    
</div>  
<div class="col-md-4 rounded-3 bg-primary p-3 text-white">
<h1><i class="bi bi-house-add"></i></h1>
<h3>Select Apartment</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae.</p>    
</div>  

<div class="col-md-4 rounded-3 p-3">
<h1><i class="bi bi-house-check"></i></h1>
<h3>Confirmed Apartment</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae.</p>    
</div>  
</div>

<!-- most trending properties -->
<h1 class="text-center mt-5">Our most trending properties</h1>
<p class="text-center">sing it can make you sound like you have been <br/> studying english 
for a long time. Here’s the challenge</p>
<hr class="w-25 mx-auto">  
<div class="row">
<div class="col-md-4">
<div class="card border border-0 p-4">
<img src="/images/property1.png" class="img-fluid">
<h6 class="text-primary">Rs.255000</h6> 
<h5 class="text-primary">Luxuraries appartment in Rajkot</h5>  
<p><span class="bi bi-bell">3</span>&nbsp;<span class="bi bi-house">0</span>&nbsp;<span class="bi bi-shopping-cart">2</span></p>  
<p><span class="bi bi-geo-alt"></span>&nbsp;150 feet ring road Rajkot-360006</p>
</div>    
</div>
<div class="col-md-4">
<div class="card border border-0 p-4">
<img src="/images/property2.png" class="img-fluid">
<h6 class="text-primary">Rs.255000</h6> 
<h5 class="text-primary">Luxuraries appartment in Rajkot</h5>  
<p><span class="bi bi-bell">3</span>&nbsp;<span class="bi bi-house">0</span>&nbsp;<span class="bi bi-shopping-cart">2</span></p>  
<p><span class="bi bi-geo-alt"></span>&nbsp;150 feet ring road Rajkot-360006</p>
</div>    
</div>

<div class="col-md-4">
<div class="card border border-0 p-4">
<img src="/images/property3.png" class="img-fluid">
<h6 class="text-primary">Rs.255000</h6> 
<h5 class="text-primary">Luxuraries appartment in Rajkot</h5>  
<p><span class="bi bi-bell">3</span>&nbsp;<span class="bi bi-house">0</span>&nbsp;<span class="bi bi-shopping-cart">2</span></p>  
<p><span class="bi bi-geo-alt"></span>&nbsp;150 feet ring road Rajkot-360006</p>
</div>    
</div>


<div class="col-md-4 mt-3">
<div class="card border border-0 p-4">
<img src="/images/property4.png" class="img-fluid">
<h6 class="text-primary">Rs.255000</h6> 
<h5 class="text-primary">Luxuraries appartment in Rajkot</h5>  
<p><span class="bi bi-bell">3</span>&nbsp;<span class="bi bi-house">0</span>&nbsp;<span class="bi bi-shopping-cart">2</span></p>  
<p><span class="bi bi-geo-alt"></span>&nbsp;150 feet ring road Rajkot-360006</p>
</div>    
</div>

<div class="col-md-4 mt-3">
<div class="card border border-0 p-4">
<img src="/images/property5.png" class="img-fluid">
<h6 class="text-primary">Rs.255000</h6> 
<h5 class="text-primary">Luxuraries appartment in Rajkot</h5>  
<p><span class="bi bi-bell">3</span>&nbsp;<span class="bi bi-house">0</span>&nbsp;<span class="bi bi-shopping-cart">2</span></p>  
<p><span class="bi bi-geo-alt"></span>&nbsp;150 feet ring road Rajkot-360006</p>
</div>    
</div>

<div class="col-md-4 mt-3">
<div class="card border border-0 p-4">
<img src="/images/property6.png" class="img-fluid">
<h6 class="text-primary">Rs.255000</h6> 
<h5 class="text-primary">Luxuraries appartment in Rajkot</h5>  
<p><span class="bi bi-bell">3</span>&nbsp;<span class="bi bi-house">0</span>&nbsp;<span class="bi bi-shopping-cart">2</span></p>  
<p><span class="bi bi-geo-alt"></span>&nbsp;150 feet ring road Rajkot-360006</p>
</div>    
</div>

</div>
</section>