<!DOCTYPE html>
<html>
<head>
<!-- head load  -->
<%- include('partials/head') %>
</head>    
<body onload="mainFunction()">
<!-- navbar here -->
<%- include('partials/navbar') %>    
<!-- be icecream slider start here -->
<section id="be-icecream-page-banner">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="#">Contact us</a></li>
</ol>
</nav>
</section>
<!-- be icecream content start here -->
<section id="be-icecream-content">
<!-- naturals products -->
<div class="natural-products mt-5 p-5">
<h1 class="text-center">Contact with Us <br> <span class="cafe-txt text-danger">Contact Form</span></h1>
</div>

<div class="row container w-75 mx-auto">
<div class="col-md-5">
<p><b class="text-dark fs-3">Office Address : </b> 101, Aditya Complex, Jalaram 2 Street Number 2, above Sbi Bank, Near Indira Circle, Jala Ram Nagar, Rajkot, Gujarat 360005</p>

<p><b class="text-dark fs-3">Office Open : </b> 7:30 am - 8:00 pm</p>

<p><b class="text-dark fs-3">Call us : </b> (+)-9173357217</p>
<p><iframe src="https://www.google.com/maps/embed?pb=!4v1741849189950!6m8!1m7!1s9XSohBvGFOlIvHln5sVknw!2m2!1d22.2902495076072!2d70.7747893158034!3f69.43049484865617!4f2.8100081660619196!5f0.7820865974627469" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
</div>
<div class="col-md-6 ms-5">
<form action="welcome.html" class="mt-5" id="frm">
<div class="row">
<div class="col-md-6">
<input type="text" name="fname" placeholder="FirstName *" class="form-control" data-bvalidator="required,alpha" />
</div>
<div class="col-md-6">
<input type="text" name="lname" placeholder="LastName *" class="form-control" data-bvalidator="required,alpha" /></div>
</div>
<div class="form-group mt-3">
<input type="text" name="email" placeholder="Email  *" class="form-control" data-bvalidator="required,email" />
</div>

<div class="form-group mt-3">
<input type="text" name="phone" placeholder="Phone  *" class="form-control" data-bvalidator="required,minlen[10],maxlen[10],digit" />
</div>

<div class="form-group mt-3">
<input type="text" name="subject" placeholder="Subject  *" class="form-control" data-bvalidator="required" />
</div>

<div class="form-group mt-3">
<textarea  name="message" placeholder="Message  *" class="form-control" cols="9" rows="5" data-bvalidator="required"></textarea>
</div>

<div class="form-group mt-3">
<input type="submit" value="Send"   class="btn btn-lg btn-danger" />
</div>
</form>
</div>
</div>
</section>
<!-- footer section -->
<%- include('partials/footer') %>