<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <div class="app" style="width: 50%; height: auto; margin: auto;">
    <h1>Ejs examples Load in node js</h1>    
    <p style="width: 100%; height: auto; margin: auto;"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, soluta autem ut earum minima aliquid cumque unde ducimus debitis rem iusto quod? Error natus deleniti, obcaecati voluptatibus illo animi fugiat.</p>
    </div>
</body>
</html>