<nav class="nav navbar navbar-expand-md p-2 bg-dark w-50 mx-auto">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/create-task">Add Task</a></li>
    <li><a href="/manage-task">Manage Task</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
</ul>    
</nav>