<section id="content" class="container mx-auto mt-5">
    <h1 align="center"><%= message %></h1>
    <p align="center"><%= text %></p>
    <div class="row">
        <div class="col-md-3 bg-white p-3">
         <h1 class="fs-2">Select Category</h1>
         <hr class="border-1 border border-dark w-25" />
         <ul class="category-links">
            <li><a href="">Kids shirt</a></li>
            <li><a href="">Kids T-shirt</a></li>
            <li><a href="">Kids Shoes</a></li>
            <li><a href="">Kids Toys</a></li>
            <li><a href="">Kids Pant</a></li>
            <li><a href="">Offers</a></li>
           
            </ul>    

            <p class="text-center">
                <img src="/images/kids7.webp" alt="prod" class="img-fluid w-100"/>
             </p>   
             <p class="text-center fs-3">Kids T-shirt</p>
             <p class="text-center fs-6">Rs.275-/</p>
             <p class="text-center fs-6"><button type="button" class="btn btn-dark text-white">AddToCart</button></p>
             
             
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 prod-img">
                 <p class="text-center">
                    <img src="/images/kids1.webp" alt="prod" class="img-fluid w-100"/>
                 </p>   
                 <p class="text-center fs-3">Kids T-shirt</p>
                 <p class="text-center fs-6">Rs.275-/</p>
                 <p class="text-center fs-6"><button type="button" class="btn btn-dark text-white">AddToCart</button></p>
                </div>

                <div class="col-md-4 prod-img">
                    <p class="text-center">
                       <img src="/images/kids2.webp" alt="prod" class="img-fluid w-100"/>
                    </p>   
                    <p class="text-center fs-3">Kids T-shirt</p>
                    <p class="text-center fs-6">Rs.275-/</p>
                    <p class="text-center fs-6"><button type="button" class="btn btn-dark text-white">AddToCart</button></p>
                   </div>

                   <div class="col-md-4 prod-img">
                    <p class="text-center">
                       <img src="/images/kids3.webp" alt="prod" class="img-fluid w-100"/>
                    </p>   
                    <p class="text-center fs-3">Kids T-shirt</p>
                    <p class="text-center fs-6">Rs.275-/</p>
                    <p class="text-center fs-6"><button type="button" class="btn btn-dark text-white">AddToCart</button></p>
                   </div>

                   <div class="col-md-4 prod-img mt-4">
                    <p class="text-center">
                       <img src="/images/kids7.webp" alt="prod" class="img-fluid w-100"/>
                    </p>   
                    <p class="text-center fs-3">Kids T-shirt</p>
                    <p class="text-center fs-6">Rs.275-/</p>
                    <p class="text-center fs-6"><button type="button" class="btn btn-dark text-white">AddToCart</button></p>
                   </div>

                   <div class="col-md-4 prod-img mt-4">
                    <p class="text-center">
                       <img src="/images/kids6.webp" alt="prod" class="img-fluid w-100"/>
                    </p>   
                    <p class="text-center fs-3">Kids T-shirt</p>
                    <p class="text-center fs-6">Rs.275-/</p>
                    <p class="text-center fs-6"><button type="button" class="btn btn-dark text-white">AddToCart</button></p>
                   </div>

                   <div class="col-md-4 prod-img mt-4">
                    <p class="text-center">
                       <img src="/images/kids5.webp" alt="prod" class="img-fluid w-100"/>
                    </p>   
                    <p class="text-center fs-3">Kids T-shirt</p>
                    <p class="text-center fs-6">Rs.275-/</p>
                    <p class="text-center fs-6"><button type="button" class="btn btn-dark text-white">AddToCart</button></p>
                   </div>
            </div>
        </div>
    </div>
 </section>
