
<!-- be icecream content start here -->
<section id="be-icecream-content">
<!-- naturals products -->
<div class="natural-products mt-5 p-5">
<h1 class="text-center"  data-aos="fade-right" data-aos-duration="3000">100% NATURAL <br> <span class="cafe-txt text-danger">PRODUCTS</span></h1>
<div class="row">
<div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
<div class="card">
<div class="card-body">
<img src="images/banner-pink-cone.png" class="img-fluid">
<h1 class="text-center mt-3">ICE CREAM</h1>
<h1 class="text-center"><span class="bi bi-three-dots"></span></h1>
<p class="text-center w-75 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing
elit. Repudiandae dolore, nemo aut reprehenderit labore consequuntur repellendus
animi explicabo</p>
</div>
</div>
</div>

<div class="col-md-4 mt-2" data-aos="fade-up" data-aos-duration="3000">
<div class="card">
<div class="card-body">
<img src="images/card-seven-img.png" class="img-fluid">
<h1 class="text-center mt-3">ICE CREAM</h1>
<h1 class="text-center"><span class="bi bi-three-dots"></span></h1>
<p class="text-center w-75 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing
elit. Repudiandae dolore, nemo aut reprehenderit labore consequuntur repellendus
animi explicabo</p>
</div>
</div>
</div>


<div class="col-md-4 mt-2" data-aos="fade-up" data-aos-duration="3000">
<div class="card">
<div class="card-body">
<img src="images/card-six.png" class="img-fluid">
<h1 class="text-center mt-3">ICE CREAM</h1>
<h1 class="text-center"><span class="bi bi-three-dots"></span></h1>
<p class="text-center w-75 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing
elit. Repudiandae dolore, nemo aut reprehenderit labore consequuntur repellendus
animi explicabo</p>
</div>
</div>
</div>
</div>
</div>

<!-- Traditions & Love section -->
<div class="traditions-products mt-5 p-5">
<h1 class="text-center" data-aos="fade-right" data-aos-duration="3000">Traditions & Love <br /> <span class="cafe-txt text-danger">How It Made ?</span>
</h1>
<div class="row w-75 mx-auto">
<div class="col-md-5 p-5 mt-2" data-aos="fade-up" data-aos-duration="3000">
<img src="images/milkshake.png" class="img-fluid" />
</div>

<div class="col-md-7 p-5 mt-2" data-aos="fade-up" data-aos-duration="3000">
<p> <b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur excepturi
voluptatem sapiente quos tenetur vitae culpa provident quae, debitis totam.</b></p>

<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi porro aliquid ipsam nulla
error, maiores quas dolores est voluptas nesciunt enim non nisi corporis sapiente distinctio
qui nihil, quos sit.</p>
<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi porro aliquid</p>

<p><a href="" class="btn btn-md btn-danger text-white rounded-5">Read More <span
class="bi bi-caret-right"></span> </a></p>
</div>
</div>
</div>
<!-- load galleries sections -->

<div class="traditions-gallery mt-5 p-5" data-aos="fade-up" data-aos-duration="3000">
<div class="row">
<div class="col-md-4 p-3">
<p class="text-center"><img src="images/sagittis-felis-sec-two-three.png"
class="img-fluid w-25" /></p>
<p class="text-center cafe-txt text-danger">721</p>
<p class="text-center w-50 mx-auto"> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
Accusamus, dignissimos.</p>
</div>

<div class="col-md-4 p-3 mt-2">
<p class="text-center"><img src="images/sagittis-felis-sec-two-two.png"
class="img-fluid w-25" /></p>
<p class="text-center cafe-txt text-danger">721</p>
<p class="text-center w-50 mx-auto"> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
Accusamus, dignissimos.</p>
</div>

<div class="col-md-4 p-3 mt-2">
<p class="text-center"><img src="images/sagittis-felis-sec-two-img-one.png"
class="img-fluid w-25" /></p>
<p class="text-center cafe-txt text-danger">721</p>
<p class="text-center w-50 mx-auto"> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
Accusamus, dignissimos.</p>
</div>
</div>

<img src="images/icecream2-home.png" class="img-fluid" data-aos="fade-right" data-aos-duration="3000" />

</div>

<!-- client say about us -->
<div class="w-75 mt-5 p-2 mx-auto client-say shadow" data-aos="fade-up" data-aos-duration="3000">
<p class="text-center"><img src="images/person-img.png" class="img-fluid w-25 rounded-circle" /></p>

<p class="w-75 mx-auto p-2"><q> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos
minima, fuga quis iusto beatae obcaecati saepe eligendi dolor maiores blanditiis nihil id vel
fugiat ratione tempora quia ipsa enim quidem?</q></p>
<p class="text-center"><span class="bi bi-three-dots fs-1 text-danger"></span></p>
</div>

<!-- cafe cards start from here -->

<div class="w-75 mt-5 p-1 mx-auto cafe-card" data-aos="fade-up" data-aos-duration="3000">
<div class="row">
<div class="col-md-4 mt-2">
<div class="card  bg-secondary rounded-3">
<div class="card-header fs-3 text-center bg-danger text-white w-75 mx-auto">Cafe</div>
<div class="card-body p-5 text-white">
<h1>Cikago</h1>
<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum.</p>
<hr>
<p>Monday - Friday</p>
<p>06:00 Am - 10:00 pm</p>
<p>Saturday - Sunday</p>
<p>08:00 Am - 08:00 pm</p>

</div>
</div>
</div>


<div class="col-md-4 mt-2" data-aos="fade-up" data-aos-duration="3000">
<div class="card  bg-secondary rounded-3">
<div class="card-header fs-3 text-center bg-danger text-white w-75 mx-auto">Cafe</div>
<div class="card-body p-5 text-white">
<h1>Cikago</h1>
<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum.</p>
<hr>
<p>Monday - Friday</p>
<p>06:00 Am - 10:00 pm</p>
<p>Saturday - Sunday</p>
<p>08:00 Am - 08:00 pm</p>

</div>
</div>
</div>


<div class="col-md-4 mt-2" data-aos="fade-up" data-aos-duration="3000">
<div class="card  bg-secondary rounded-3">
<div class="card-header fs-3 text-center bg-danger text-white w-75 mx-auto">Cafe</div>
<div class="card-body p-5 text-white">
<h1>Cikago</h1>
<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum.</p>
<hr>
<p>Monday - Friday</p>
<p>06:00 Am - 10:00 pm</p>
<p>Saturday - Sunday</p>
<p>08:00 Am - 08:00 pm</p>

</div>
</div>
</div>

<p class="text-center mt-5"><a href="" class="btn btn-md btn-danger text-white rounded-5">Our
Locations <span class="bi bi-caret-right"></span> </a>

<a href="" class="btn btn-md btn-danger text-white rounded-5 ms-5">Franchise <span
class="bi bi-caret-right"></span> </a>
</p>

</div>
</div>
</section>