<!-- be icecream slider start here -->
<section id="be-icecream-slider">
<div class="row">
<div class="col-md-6">
<h1 class=""><span class="cafe-txt text-danger"  data-aos="fade-right" data-aos-duration="3000">ICREAM <br>MADE WITH </span></h1>
<p class="cafe-txt">PASSION</p>
<p><button type="button" class="btn btn-md btn-danger text-white">Products</button>
<button type="button" class="btn btn-md btn-danger text-white ms-2">How It's Made ?</button>
</p>
</div>
<div class="col-4 banner-img">
<img src="images/banner-big-cone.png" class="img-fluid w-75">
</div>
<div class="col-2">
<h1 class="text-danger"><span class="cafe-txt">16</span> <br> <span
class="cafe-txt-reg">Cafes</span></h1>
<h1 class="text-danger"><span class="cafe-txt">23</span> <br> <span class="cafe-txt-reg">Food
Trucks</span></h1>
</div>
</div>
</section>